.lista-tarefas {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

button {
  width: 110px;
  margin: 10px;
}

input {
  width: 200px;
}
